@{
    ViewBag.Title = "Home Page";
}
    <div class="jumbotron">
        <h1>Golf Caddy</h1>
        <p class="lead">Keep all your golf stats powered by ASP.net, MVC and Entity Framework.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>



